<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cptracker">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    android:installLocation="preferExternal"
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
